# Credentials
credentials.json

# Config
config.json

# Working Files
latest_status.json
archiver_tweet_cache.json
working

# Deprecated
# .dolt/
# .sqlhistory
# test.csv

# Virtual Environment
venv/

# Python Cache
__pycache__