        <!-- https://material-components.github.io/material-components-web-catalog/#/component/drawer -->
        <div class="footer-buttons-div">
            <button class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised" onclick="window.open('https://twitter.com/DigitalRoverDog','_blank')">  <span class="mdc-button__ripple"></span> Visit Bot's Twitter For Search (Until Implemented On Site)</button>
            <button class="mdc-button mdc-card__action mdc-card__action--button mdc-button--raised" onclick="window.open('/privacy','_blank')">  <span class="mdc-button__ripple"></span> Privacy Policy</button>
        </div>

        <footer></footer>
    </body>
</html>