<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- You Can Find The Repo At {github_repo} -->
        <!-- Useful For Determining If Browser Is Refusing To Delete Cached Page For Debugging -->
        <!-- Current Time: {current_time} -->

        <title>{site_title}</title>
        <!-- Implement mask-icon? -->
        <link rel="icon" type="image/svg+xml" href="/images/rover.svg">
        <link rel="icon" type="image/png" href="/images/rover.png">

        <link rel="manifest" href="/manifest.webmanifest">
        <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" integrity="{stylesheet_css_integrity}" crossorigin="anonymous">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Open Search -->
        <link title="Rover" type="application/opensearchdescription+xml" rel="search" href="{website_root}/opensearch.xml">

        <!-- Hypothetically, SRI Can Be Used As A Version of Cache Control. -->
        <!-- Since My Own Scripts Are Not Dynamic, But Changes Over Time and The Hash Is Dynamically Generated, It Should Help The Browser Determine When To Re-Fetch The Files -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
        <script async src="/scripts/main.js" integrity="{main_js_integrity}" crossorigin="anonymous"></script>
        <script async src="/scripts/helper.js" integrity="{helper_js_integrity}" crossorigin="anonymous"></script>

        <!-- Material Design Stuff - You Can Change 8.0.0 to Latest If Needed -->
        <link href="https://unpkg.com/material-components-web@8.0.0/dist/material-components-web.min.css" rel="stylesheet" type="text/css" integrity="sha384-IVzV2k2d9MpgLQcZx610dbX6dxUE7OPfWGAq9FxYzV3cFwR23GkQ7fzFzTrB0skQ" crossorigin="anonymous">
        <script src="https://unpkg.com/material-components-web@8.0.0/dist/material-components-web.min.js" integrity="sha384-c8NAxhFagiSOR6QdHlHXH2b0D9qgp7RMs4gtvr7RkA1UHuTp8thZPOWmpWA4odvH" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">

        <!-- Twitter Cards - https://medium.com/@dinojoaocosta/how-to-make-twitter-preview-your-website-links-5b20db98ac4f -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="{twitter_handle}" />
        <meta name="twitter:title" content="{twitter_title}" />
        <meta name="twitter:description" content="{twitter_description}" />
        <meta name="twitter:image" content="{website_root}/images/rover-twitter-card.png" />
        {analytics_template}
    </head>
    <body class="mdc-theme--on-background mdc-theme--background">
    <!-- Install Banner - https://developers.google.com/web/ilt/pwa/lab-offline-quickstart#52_activating_the_install_prompt -->
    <!-- Icons - https://material.io/resources/icons/?search=home&icon=home&style=baseline -->
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open Sidebar" id="handle-drawer">menu</button>
                <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Main Page" onclick="window.open('/', '_self')">home</button>
                <span class="mdc-top-app-bar__title">Rover</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search Tweets" onclick="showNotImplementedAlert()">search</button>
                <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Refresh Tweets" onclick="showNotImplementedAlert()">refresh</button>
            </section>
        </div>
    </header>
    <aside class="mdc-drawer mdc-drawer--modal">
        <div class="mdc-drawer__content">
            <nav class="mdc-list">
                <a class="mdc-list-item mdc-list-item--activated" aria-current="page" tabindex="0" onclick="window.open('/', '_self')">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">feed</i>
                    <span class="mdc-list-item__text">Latest Tweets</span>
                </a>
                <a class="mdc-list-item" onclick="showNotImplementedAlert()">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">analytics</i>
                    <span class="mdc-list-item__text">Analyze Tweets</span>
                </a>
                <hr class="mdc-list-divider">
                <a class="mdc-list-item" onclick="window.open('https://www.dolthub.com/repositories/alexis-evelyn/presidential-tweets', '_blank')">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">leaderboard</i>
                    <span class="mdc-list-item__text">Full Database</span>
                </a>
                <a class="mdc-list-item" onclick="window.open('https://github.com/alexis-evelyn/Rover', '_blank')">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">code</i>
                    <span class="mdc-list-item__text">Source Code</span>
                </a>
                <hr class="mdc-list-divider">
                <a class="mdc-list-item" onclick="window.open('https://twitter.com/DigitalRoverDog', '_blank')">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">smart_toy</i>
                    <span class="mdc-list-item__text">Rover's Twitter Profile</span>
                </a>
            </nav>
        </div>
    </aside>

    <div class="mdc-drawer-scrim"></div>
    <main class="mdc-top-app-bar--prominent-fixed-adjust">