/* Original Choice: https://convertingcolors.com/rgb-color-75_0_130.html */
/* Web Safe Choice: https://convertingcolors.com/hex-color-660099.html */
/* Theming Guide For Material Design: https://material.io/develop/web/docs/theming */

body {
    background-color: black !important;
    color: white;
    margin: auto;
}

body.no-scroll {
    overscroll-behavior: none
}

div#gov-tweets {
    overflow-x: auto;
}

.mdc-drawer {
    background-color: #383838 !important;
    /*color: white;*/
}

.mdc-list-item__graphic, .mdc-list-item__text {
    color: white !important;
}

.tweet-stats-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.tweet-stats {
    justify-content: center;
}

.footer-buttons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;

    margin: auto;
    min-width: 60%;
    max-width: 85%;

    padding: 10px;
}

.footer-buttons-div > button {
    margin-bottom: 5px;
    width: 100%;
}

/* Material Design Cards */
.cards {
    margin: auto;
    min-width: 60%;
    max-width: 90%;
    padding: 10px;

    display: block;
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/

    /*For Debugging Sizing*/
    /*border: 3px solid green;*/
}

.tweet-card {
    min-width: 90%;
    min-height: 20em;

    margin: 10px;
    /*box-shadow: none;*/
    box-sizing: unset;
}

.card__content {
    min-height: 20em;
}

/*.tweet-card > .mdc-card__media {*/
/*    height: 9em;*/
/*}*/

.card__text, .card__title, .card__subtitle {
    margin: 2%;
    text-align: center
}